@{
    ViewData["Title"] = "Home Page";
}

<h1>ItemGroups</h1>
<a class="btn btn-primary" href="/api/Category">View Item groups</a>

<h1>Items</h1>
<a class="btn btn-primary" href="/api/Item">View Items</a>

<h1>Orders</h1>
<a class="btn btn-primary" href="/api/Order">View Orders</a>

